RewriteEngine On

# Si la URL no contiene /public/views/landing.html
RewriteCond %{REQUEST_URI} !/public/views/landing.html$
RewriteCond %{REQUEST_URI} !\.(css|js|png|jpg|jpeg|gif|ico|svg)$
RewriteRule ^.*$ /Qwestly_v1/public/views/landing.html [L,R=302]