<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Qwestly - Registro</title>
  <link rel="stylesheet" href="../css/styles.css">
  <link rel="icon" href="../ico/favicon.svg" type="image/svg+xml">
  <script type="module" src="../js/main.js"></script>
</head>

<body>
  <div class="register-wrapper">
    <div class="container form-container">
      <div class="form-header">
        <img src="../ico/gamepad.svg" alt="Gamepad Icon" class="form-icon">
        <h1>Registro de usuario</h1>
      </div>
      <form id="register-form" novalidate class="form">
        <div class="form__group">
          <label class="form__label required-field" for="name">Nombre</label>
          <input class="form__input" type="text" id="name">
        </div>
        <div class="form__group">
          <label class="form__label required-field" for="email">Correo electrónico</label>
          <input class="form__input" type="email" id="email">
        </div>
        <div class="form__group password-group">
          <label class="form__label required-field" for="password">Contraseña</label>
          <div class="password-wrapper">
            <input class="form__input" type="password" id="password">
            <span class="toggle-password" id="toggle-register-pass">👁️</span>
          </div>
        </div>
        <div class="actions">
          <button type="submit" class="btn">Registrarse</button>
          <button type="button" id="btn-back" class="btn btn--secondary">Volver atrás</button>
        </div>
      </form>
    </div>
  </div>
</body>

</html>